# Node and vendor
node_modules/
vendor/
npm-debug.log
yarn-error.log
*.log

# OS and editor files
.DS_Store
Thumbs.db
/.vscode
/.idea
/.zed
/.cursor/
/.codex

# Environment
.env
.env.backup
.env.production

# PHPUnit / tooling
.phpunit.result.cache
.phpunit.cache
.phpactor.json
auth.json
_ide_helper.php

# Laravel specific
bootstrap/compiled.php
app/storage/
public/hot
public/storage
public_html/hot
public_html/storage
/public/build
/public/fonts-manifest.dev.json

# Storage
storage/*.key
/storage/pail

# Vagrant / Homestead
/.vagrant
Homestead.yaml
Homestead.json

